<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on
	# Bloqueia a listagem de diretórios.
	Options All -Indexes

	# Mensagem de erro personalizada.
	ErrorDocument 403 "Desculpe! Acesso nao permitido"

	# RewriteRule ^api/?$ /api/index.php [NC]
	RewriteRule ^api/users/?$ /api/ClassUsers.php [NC]
	RewriteRule ^api/cars/?$ /api/ClassCars.php [NC]
	RewriteRule ^api/cars/([0-9-]+)?$ /api/index.php?tabela=cars&id=$1 [NC]
	
	# RewriteRule ^([a-z0-9-]+)/([a-z0-9-]+)/?$ /index.html [NC]
	# RewriteRule ^([a-z0-9-]+)/?$ /index.html [NC]
	
</IfModule>


