<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on
	# Bloqueia a listagem de diretórios.
	Options All -Indexes

	# Mensagem de erro personalizada.
	ErrorDocument 403 "Desculpe! Acesso nao permitido"

	RewriteRule ^api/login/?$ /api/index.php?tabela=users [NC]
	RewriteRule ^api/users/?$ api/index.php?tabela=users [NC]
	RewriteRule ^api/users/([0-9-]+)?$ /api/index.php?tabela=users&id=$1 [NC]
	RewriteRule ^api/cars/?$ api/index.php?tabela=cars [NC]
	RewriteRule ^api/cars/([0-9-]+)?$ /api/index.php?tabela=cars&id=$1 [NC]
	RewriteRule ^api/fotos/?$ /api/index.php?tabela=fotos [NC]
	RewriteRule ^api/fotos/([0-9-]+)?$ /api/index.php?tabela=fotos&id=$1 [NC]
	RewriteRule ^api/settings/?$ /api/index.php?tabela=settings [NC]
</IfModule>


